<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white{
        color:white
    }

    /* Increase Font Size */
    .book-title {
        font-size: 18px;
    }

    .book-author {
        font-size: 16px;
    }

    /* Background Color */
    body {
        background-color: #FAC898;
    }
</style>
<body>

    <nav class="navbar" style="background-color:#66CDAA;">
        <a class="navbar-brand">My Book recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size:50px">Recommend Books</h1>
                <form action="/recommend_books" method="post">
                    <input name="user_input" type="text" class="form-control"><br>
                    <input type="submit" class="btn btn-lg btn-warning">
                </form>
            </div>

            {% if data %}
             {% for i in data %}
                <div class="col-md-3" style="margin-top:50px">
                    <div class="card" style="background-color: #FAC898;">
                        <div class="card-body">
                            <img class="card-img-top" src="{{i[2]}}">
                            <p class="text-white book-title">{{i[0]}}</p>
                            <h4 class="text-white book-author">{{i[1]}}</h4>
                        </div>
                    </div>
                </div>
             {% endfor %}
            {% endif %}

            <div class="col-md-12" style="margin-top: 30px;">
                <h2 class="text-white" style="font-size: 24px;">Limitations</h2>
                <p class="text-white" style="font-size: 16px;">
                    To get accurate results, please enter the full exact name of the book as it appears in the database. Avoid extra spaces and ensure proper spelling.
                </p>
            </div>

            <div class="col-md-12" style="margin-top: 30px;">
                <h2 class="text-white" style="font-size: 24px;">Some Book Names</h2>
                <p class="text-white" style="font-size: 16px;">
                    - The Two Towers (The Lord of the Rings, Part 2)<br>
                    - Charlotte's Web (Trophy Newbery)<br>
                    - 1984<br>
                    - The Five People You Meet in Heaven<br>
                    - In Her Shoes : A Novel<br>
                    - Harry Potter and the Prisoner of Azkaban (Book 3)<br>
                    - Good in Bed<br>
                    - 4 Blondes<br>
                    - 1st to Die: A Novel<br>
                    - The Prince of Tides<br>
                    - The Green Mile<br>
                    - The Summerhouse<br>
                    - Into Thin Air : A Personal Account of the Mt. Everest Disaster<br>
                    - The God of Small Things<br>
                    - The Celestine Prophecy (Celestine Prophecy)
                </p>
            </div>

        </div>
    </div>

</body>
</html>
